<div class="footer-container">
  @if (statusLoading()) {
    <span class="online-status">
      <i class="pi pi-spin pi-spinner"></i>
    </span>
  } @else {
    <span class="online-status">
      <i
        class="pi pi-circle-on"
        [ngClass]="{ 'status-online': status()?.data?.status === 'online' }"
      ></i>
    </span>
    <small> {{ status()?.data?.characters_online }} characters online </small>
    <small>| App v{{ appVersion }} |</small>
    <small> Artifacts API v{{ status()?.data?.version }} </small>
  }
</div>
